/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* REGOLE DI PAGINA */

/* MAIN SECTION */
main {
  width: 100%;
}

main:after {
  content: "";
  clear: both;
  display: table;
}

/* SIDEBAR */
aside {
  background-color: black;
  width: 15%;
  height: calc(100vh - 150px);
  float: left;
  overflow: auto;
}

/* RIGHT SECTION */
.right-section {
  background-color: darkblue;
  width: 85%;
  height: calc(100vh - 150px);
  float: left;
  overflow:auto;
}

/* horizontal menu */
.menu {
 width: 70%;
}

.menu-list {
  display: flex;
  justify-content: space-between;
}

.menu-list a {
  color: #b3b3b3;
}

/* riga dischi */
.second-row {
  display: flex;
}

.blocco1 {
  width: ;
  height: ;
}

.cover1 {
  width: 100%;
  height: 100%;
  background-image: url("../img/releaseradar.jpg");
}

/* FOOTER */
footer {
  background-color: grey;
  height: 150px;
  width: 100%;
}
