/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* REGOLE DI PAGINA */
/* MAIN SECTION */
main {
  width: 100%;
}

main:after {
  content: "";
  clear: both;
  display: table;
}

/* SIDEBAR */
aside {
  background-color: black;
  width: 15%;
  height: calc(100vh - 100px);
  float: left;
  overflow: auto;
  flex-direction: column;
  padding: 2%;
}

.logo-container a {
  color: #fff;
}

.logo-container svg {
  max-width: 70%;
}

.sidebar-menu1 {
  padding-top: 15%;
  font-size: 15px;
}

.sidebar-menu1 li {
  padding-top: 5%;
}

.sidebar-menu1 a {
  color: #b3b3b3;
}

.sidebar-menu1 a:hover {
  color: #fff;
}

.sidebar-menu2 {
  padding-top: 15%;
  font-size: 15px;
}

.sidebar-menu2 li {
  padding-left: 2%;
  padding-top: 8%;
}

.sidebar-menu2 a {
  color: #b3b3b3;
}

.sidebar-menu2 a:hover {
  color: #fff;
}

.sidebar-menu2 span {
  padding-left: 8%;
}

.hidden-playlist {
  display: none;
}

.sidebar-menu3 {
  height: calc(35vh - 10px);
  overflow: auto;
}

.sidebar-menu3 li {
  padding-top: 8%;
}

.sidebar-menu3 a {
  color: #b3b3b3;
}

.sidebar-menu3 a:hover {
  color: #fff;
}

.micro-footer {
  height: 10px;
  /* padding-top: 30%; */
  display: flex;
  flex-direction: column;
}

.micro-footer i {
  padding-right: 8%;
  padding-bottom: 8%;
}

.micro-footer a {
  color: #b3b3b3;
}

.micro-footer a:hover {
  color: #fff;
}

/* RIGHT SECTION */
.right-section {
  background-color: #161f39;
  width: 85%;
  height: calc(100vh - 100px);
  float: left;
  overflow: auto;
  padding: 0 5%;
}

/* horizontal menu */
.menu {
  width: 100%;
}

.menu a:hover {
  color: #fff;
}

.hamburger-menu {
  display: none;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 13px;
  padding: 3% 10%;
}

.menu-list a {
  color: #b3b3b3;
}

/* sezione "create per te" */
.first-row {
  color: #fff;
  font-weight: bold;
  padding: 3% 0;
}

.first-row h1:hover {
  text-decoration: underline;
}

.first-row p {
  padding-top: 1%;
}

/* riga dischi */
.second-row {
  display: flex;
}

.blocco {
  width: calc(100% / 5);
  padding-right: 2%;
  text-align: center;
}

.blocco a {
  font-size: 14px;
  color: white;
}

.cover img {
  height: 90%;
  width: 100%;
}

/* FOOTER */
footer {
  background-color: #282828;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2% 2%;
}

footer a {
  color: #b3b3b3;
}

footer a:hover {
  color: #fff;
}

/* colonna sinistra */
.column-left {
  display: flex;
  width: 25%;
}

.minicover {
  width: 25%;
}

.minicover img {
  width: 60px;
  height: 60px;
  padding-bottom: 2%;
}

.naming {
  text-align: left;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  margin-right: 8%;
}

.heart {
  margin-top: 4%;
}

/* colonna centrale */
.column-central {
  width: 50%;
  color: #b3b3b3;
}

.column-central i {
  font-size: 20px;
  padding-right: 2%;
}

.top-row {
  text-align: center;
}

.bottom-row {
  display: flex;
  font-size: 13px;
  padding-left: 15%;
  padding-top: 2%;
  position: relative;
}

.bottom-row hr {
  width: 65%;
  height: 0.5px;
  margin: 1% 2% 0;
}

.bottom-row i {
 position: absolute;
 transform: translate(235px,-3px);
 color: lightgreen;
}

/* colonna destra */
.column-right {
  display: flex;
  width: 25%;
  padding-top: 1%;
  position: relative;
}

.column-right a {
  padding-right: 5%;
}

.column-right .fa-circle {
 position: absolute;
 transform: translate(100px, 1px);
 color: lightgreen;
}

.column-right hr {
  width: 40%;
  height: 0.5px;
  margin: 2% 3% 0;
}

/* MEDIA QUERY */
@media screen and (min-width: 768px) and (max-width: 991px) {

  .menu-list {
    display: none;
  }

  .hamburger-menu {
    display: inline-block;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    color: #b3b3b3;
    padding-top: 3%;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    font-size: 12px;
  }

  .sidebar-menu1 i {
    display: none;
  }

  .hidden-playlist {
    display: inline-block;
    font-size: 14px;
    margin: 15% 0;
  }

  .hidden-playlist a {
    color: #b3b3b3;
  }

  .sidebar-menu3 {
    display: none;
  }

  .micro-footer {
    font-size: 15px;
  }

  .micro-footer i {
    padding-right: 8%;
    padding-bottom: 15%;
  }

  .first-row {
    font-size: 14px;
  }

  .second-row {
    flex-wrap: wrap;
  }

  .blocco {
    width: calc(100% / 3);
  }

  .blocco a {
    font-size: 12px;
  }

  .cover img {
    height: 80%;
    width: 100%;
  }

  footer {
    padding: 3% 3%;
  }

  .minicover img {
    width: 50px;
    height: 50px;
    padding-bottom: 2%;
  }

  .naming{
    padding-left: 8%;
  }

  .bottom-row i {
   position: absolute;
   transform: translate(135px,-3px);
   color: lightgreen;
  }

  .column-right .fa-circle {
    position: absolute;
    transform: translate(100px, -2px);
    color: lightgreen;
  }

}

@media screen and (min-width: 420px) and (max-width: 767px) {

  aside {
    width: 25%;
    font-size: 15px;
  }

  .sidebar-menu1 i {
    display: none;
  }

  .hidden-playlist {
    display: inline-block;
    font-size: 14px;
    margin: 15% 0;
  }

  .hidden-playlist a {
    color: #b3b3b3;
  }

  .sidebar-menu3 {
    display: none;
  }

  .right-section {
    width: 75%;
  }

  .second-row {
    flex-wrap: wrap;
  }

  .blocco {
    width: calc(100% / 2);
    padding-bottom: 5%;
  }

  .menu-list {
    display: none;
  }

  .hamburger-menu {
    display: inline-block;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    color: #b3b3b3;
    padding-top: 3%;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    font-size: 12px;
  }

  footer {
    padding-top: 5%;
  }

  .column-left {
    padding-left: 3%;
    padding-bottom: 5%:
  }

  .minicover {
    padding-bottom: 10%;
  }

  .naming {
    display: none;
  }

  .heart {
    padding-left: 50%;
    padding-top: 7%;
  }

  .column-central {
    padding-top: 2%;
  }

  .bottom-row {
    display: none;
  }

  .column-right {
    padding-top: 2%;
    padding-left: 6%;
  }

  .column-right .fa-circle {
    display: none;
  }

  .column-right hr {
    display: none;
  }
}
